---
import Layout from '../../layouts/Layout.astro'
import Icon from '../../components/Icon.astro'
import { css } from '../../../styled-system/css'
import itika from '../../assets/itika.png'
import { useTranslations, getLocalePath } from '../../i18n/utils'

const lang = 'en'
const t = useTranslations(lang)
---

<Layout
  title={t('index.title')}
  description={t('index.description')}
  thumbnail={itika.src}
  hideFooter={true}
  lang={lang}
>
  <main
    class={css({
      display: 'flex',
      flexDirection: 'column',
      alignItems: 'center',
      justifyContent: 'center',
      height: '100%',
      width: '100%',
    })}
  >
    <Icon size='medium' />
    <div
      class={css({
        mt: '30px',
        fontSize: '24px',
      })}
    >
      {t('index.greeting')} <a
        href={getLocalePath('/about', lang)}
        class={css({
          textDecoration: 'underline',
        })}>{t('index.aboutMe')}</a
      >
    </div>
  </main>
</Layout>
