---
import Layout from '../../layouts/Layout.astro'
import { css } from '../../../styled-system/css'
import { Content as PPolicy } from '../../components/PrivacyPolicy.mdx'
import itika from '../../assets/itika.png'

const lang = 'en'
---

<Layout
  title="Privacy Policy"
  description="Privacy Policy"
  thumbnail={itika.src}
  lang={lang}
>
  <main
    class={css({
      display: 'flex',
      flexDirection: 'column',
      alignItems: 'center',
      height: '100%',
      width: '100%',
    })}
  >
    <div
      class={css({
        maxWidth: '850px',
        width: '100%',
        px: '16px',
        pt: '16px',
        pb: '64px',
      })}
    >
      <PPolicy />
    </div>
  </main>
</Layout>
