---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import ProfileCard from '../components/ProfileCard.astro'
import { Content as Profile } from '../components/Profile.mdx'
import { css } from '../../styled-system/css'

import itika from '../assets/itika.png'
---

<Layout title="trasta">
  <main
    class={css({
      display: 'flex',
      flexDirection: 'column',
      alignItems: 'center',
      height: '100%',
      width: '100%',
    })}
  >
    <div
      class={css({
        maxWidth: '1024px',
        width: '100%',
        px: '16px',
        py: '48px',
      })}
    >
      <ProfileCard />
      <div class={css({ mt: '64px' })}>
        <Profile />
      </div>
      <h1 class={css({ mt: '32px' })}>やってきたこと</h1>
      <div
        class={css({
          mt: '32px',
          display: 'grid',
          gridTemplateColumns: 'repeat(auto-fill, minmax(300px, 1fr))',
          gap: '16px',
        })}
      >
        <Card image={itika} title="portfolio" description="trasta's page"/>
        <Card image={itika} title="portfolio" description="trasta's page"/>
        <Card image={itika} title="portfolio" description="trasta's page"/>
        <Card image={itika} title="portfolio" description="trasta's page"/>
      </div>
    </div>
  </main>
</Layout>
