---
import Layout from '../layouts/Layout.astro'
import ProfileCard from '../components/ProfileCard.astro'
import { Content as Profile } from '../components/Profile.mdx'
import { css } from '../../styled-system/css'
---

<Layout title="trasta">
  <main
    class={css({
      display: 'flex',
      flexDirection: 'column',
      alignItems: 'center',
      height: '100%',
      width: '100vw',
    })}
  >
    <div
      class={css({
        w: 'min(100%, 1024px)',
        px: '16px',
        py: '48px',
      })}
    >
      <ProfileCard />
      <div class={css({ mt: '64px' })}>
        <Profile />
      </div>
    </div>
  </main>
</Layout>
