---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import ProfileCard from '../components/ProfileCard.astro'
import { Content as Profile } from '../components/Profile.mdx'
import { css } from '../../styled-system/css'

import { getCollection } from 'astro:content'

const worksEntries = await getCollection('works')
---

<Layout title="trasta">
  <main
    class={css({
      display: 'flex',
      flexDirection: 'column',
      alignItems: 'center',
      height: '100%',
      width: '100%',
    })}
  >
    <div
      class={css({
        maxWidth: '1024px',
        width: '100%',
        px: '16px',
        py: '48px',
      })}
    >
      <ProfileCard />
      <div class={css({ mt: '64px' })}>
        <Profile />
      </div>
      <h1 class={css({ mt: '32px' })}>やってきたこと</h1>
      <div
        class={css({
          mt: '32px',
          display: 'grid',
          gridTemplateColumns: 'repeat(auto-fill, minmax(300px, 1fr))',
          gap: '16px',
        })}
      >
        {
          worksEntries
            .filter(entry => !entry.data.draft)
            .sort((a, b) => (b.data.date > a.data.date ? 1 : -1))
            .map(entry => (
              <a
                href={`/works/${entry.slug}`}
                class={css({ color: 'text', textDecoration: 'none' })}
              >
                <Card
                  title={entry.data.title}
                  description={entry.data.description}
                  image={entry.data.cover}
                />
              </a>
            ))
        }
      </div>
    </div>
  </main>
</Layout>
