---
import Layout from '../layouts/Layout.astro'
import Icon from '../components/Icon.astro'
import { css, cx } from '../../styled-system/css'
---

<Layout title="trasta.dev">
  <main
    class={css({
      display: 'flex',
      flexDirection: 'column',
      alignItems: 'center',
      justifyContent: 'center',
      height: '100%',
      width: '100%',
    })}
  >
    <Icon width="250px" height="250px" />
    <div
      class={css({
        mt: '30px',
        fontSize: '24px',
      })}
    >
      👋 Hi, I'm trasta. <a
        href="/about"
        class={css({
          textDecoration: 'underline',
        })}>About me.</a
      >
    </div>
  </main>
</Layout>
