---
import Layout from '../layouts/Layout.astro'
import Icon from '../components/Icon.astro'
import { css } from '../../styled-system/css'
import itika from '../assets/itika.png'
---

<Layout title="trasta.dev" description="trastaã®ãºãƒ¼ã˜" thumbnail={itika.src}>
  <main
    class={css({
      display: 'flex',
      flexDirection: 'column',
      alignItems: 'center',
      justifyContent: 'center',
      height: '100%',
      width: '100%',
    })}
  >
    <Icon width="250px" height="250px" />
    <div
      class={css({
        mt: '30px',
        fontSize: '24px',
      })}
    >
      ðŸ‘‹ Hi, I'm trasta. <a
        href="/about"
        class={css({
          textDecoration: 'underline',
        })}>About me.</a
      >
    </div>
  </main>
</Layout>
