---
import { css } from '../../styled-system/css'
import { Image } from 'astro:assets'
interface Props {
  image: ImageMetadata
  title: string
  description: string
}

const { image, title, description } = Astro.props
---

<div
  class={css({
    bg: 'bgSecond',
    borderRadius: '8px',
  })}
>
  <Image
    src={image}
    alt="Astro"
    class={css({
      width: '100%',
      height: '200px',
      objectFit: 'cover',
      borderRadius: '8px 8px 0 0',
      overflow: 'hidden',
    })}
  />
  <div class={css({ p: '8px 12px 12px 12px' })}>
    <div class={css({ fontSize: '1.2rem', fontWeight: '700' })}>
      {title}
    </div><div>
      {description}
    </div>
  </div>
</div>
