---
import ThemeIcon from './ThemeIcon.astro'
import { css } from '../../styled-system/css'
---

<footer
  class={css({
    w: '100vw',
    h: '64px',
    display: 'flex',
    alignItems: 'center',
    justifyContent: 'center',
    bg: 'bgSecond',
  })}
>
  <div class={css({ display: 'flex', alignItems: 'center' })}>
    <ThemeIcon />
  </div>
</footer>
