---
import ThemeIcon from './ThemeIcon.astro';
import { css } from '../../styled-system/css';
---
<div class={css({ display: 'flex', alignItems: 'center' })}>
  <ThemeIcon />
  <span class={css({ ml: 2 })}>Dark Mode</span>
</div>
