---
import ThemeIcon from './ThemeIcon.astro'
import { css } from '../../styled-system/css'
---

<header
  class={css({
    w: '100vw',
    h: '64px',
    display: 'flex',
    alignItems: 'center',
    justifyContent: 'center',
    bg: 'bgSecond',
  })}
>
  <div
    class={css({
      display: 'grid',
      gridTemplateColumns: 'auto 1fr',
      alignItems: 'center',
      w: '1024px',
      px: '16px',
    })}
  >
    <div
      class={css({
        gridColumn: '1 / 2',
        fontSize: '24px',
      })}
    >
      <a href="/" class={css({ color: 'text' })}> trasta.dev</a>
    </div>
    <div
      class={css({
        gridColumn: '2 / 3',
        display: 'flex',
        alignItems: 'center',
        justifyContent: 'flex-end',
      })}
    >
      <div class={css({ userSelect: 'none' })}>
        <ThemeIcon />
      </div>
    </div>
  </div>
</header>
