---
import { css } from '../../styled-system/css'
import { container } from '../../styled-system/patterns'
---

<header
  class={css({
    w: '100vw',
    h: '64px',
    display: 'flex',
    alignItems: 'center',
    justifyContent: 'center',
    bg: 'bgSecond',
  })}
>
  <div
    class={css({
      display: 'flex',
      alignItems: 'center',
      w: '1024px',
    })}
  >
    <div
      class={css({
        display: 'flex',
        alignItems: 'center',
        justifyContent: 'center',
        fontSize: '32px',
        fontWeight: 'bold',
      })}
    >
      <span>Content</span>
    </div>
  </div>
</header>
